* {
    margin: 0;
    padding: 0;
}

/* common styles */
body {
    font-family: 'Work Sans', sans-serif;
}

.secondary-heading {
    font-size: 2rem;
    color: #131313;
    font-weight: 700;
}

.primary-text {
    color:  #727272;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary{
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 1rem;
    font-weight: 600; 
    padding: 15px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.btn-primary:hover{
    color: #FF900E;
    background-color: #FFFFFF;
    border: 2px solid #FF900E;
    cursor: pointer;
}

.light-gray{
    color: #727272;
    font-weight: 500;
}

.orange{
    color: #FF900E;
}


/* header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
}

/* navigation bar styles */
.nav-container {
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-container {
    list-style: none;
}

.nav-container a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
}


/* banner styles */
.banner-container {
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

.banner-info {
    width: 70%;
    margin: 0 auto 3%;
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
}

.banner-text{
    margin: 3% 0;
}

.banner-img img {
    width: 100%;
}

/* main section */
main{
    width: 80%;
    margin: 0 auto;
}

/* quick feature section */
.quick-feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick-feature-img-container{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


.quick-feature-container img{
    width: 100%;
    height: 100%;
}


.quick-feature-info{
    width: 45%;
}


/* main feature styles */
.main-feature-container{
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}

.main-feature-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-feature-info h2{
    padding-left: 15px;
    border-left: 3px solid #FF900E;
    margin-bottom: 3%;
}

.main-feature-articles{
    width: 90%;
    margin: 0 auto;
}

.main-feature-info h3{
    font-size: 1.1rem;
    font-weight: 600px;
    margin-bottom: 1%;
}

.main-feature-img{
    width: 50%;
    align-self: center;
}

.main-feature-img img{
    width: 100%;
}

